/* Nav Menu Styles */

nav {
    padding: 10px 0px;
    background-color: #152c53;
}

nav ul {
    padding-left: 0px;
}

nav a {
    color: white;
}

.navFlex {
    display: flex;
    justify-content: space-between;
}

.navLeft {
    display: flex;
    gap: 10px;
}

.svg-inline--fa {
    color: white;
    font-size: 1.6rem;
}

.hamburgerMenu,
.navImgContainer {
    display: flex;
    align-items: center;
}

.navLinks {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navLinks a {
    display: flex;
}

.loginServices {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

button {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
}

@media (max-width: 1060px) {
    nav a {
        font-size: 0.8rem;
    }
}

@media (max-width: 950px) {
    nav a,
    button {
        font-size: 0.7rem;
    }

    .navLinks {
        gap: 10px;
    }
}