.App {
  text-align: center;
}

/* General Styles */
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1920px;
}

html {
    font-size: 125%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Blog List Styles */

.blogListSection {
    padding-top: 50px;
    padding-bottom: 50px;
}

.blogList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blogRow {
    display: flex;
}

.blogInfo {
    display: flex;
    gap: 50px;
}

.blogText {
    width: 50%;
}

.blogImgContainer {
    width: 200px;
    height: 200px;
}

/* Footer Styles */

footer {
    background-color: #152c53;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    color: white;
    width: 50%;
    text-align: left;
}

footer a {
    color: white;
}

.footerContent {
    display: flex;
    flex-direction: column;
}

.footerLinks {
    display: flex;
    width: 100%;
}

.footerUl {
    display: flex;
    flex-direction: column;
}

.socialLinks,
.contactLinks {
    display: flex;
}

.socialLinks {
    gap: 15px;
}

.contactLinks {
    gap: 30px;
}


