.App {
  text-align: center;
}

/* General Styles */
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1920px;
}

html {
    font-size: 125%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header Styles */

.headerImgContainer {
    width: 100%;
}

.headerImgContainer img {
    max-width: 100%;
    max-height: 100%;
}


/* Nav Menu Styles */

.navFlex {
    display: flex;
    justify-content: space-between;
}

.navLeft {
    display: flex;
    gap: 10px;
}

.navLinks {
    display: flex;
    gap: 80px;
}

.loginServices {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* Blog List Styles */

h3 {
    text-align: left;
}

.blogListSection {
    padding-top: 50px;
    padding-bottom: 50px;
}

.blogList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.blogRow {
    border-bottom: 1px solid #152c53;
    display: flex;
    padding-bottom: 10px;
}

.blogRow:nth-child(3) {
    border-bottom: none;
}


.blogInfo {
    display: flex;
    gap: 10%;
}

.blogText {
    width: 50%;
}

.blogImgContainer {
    width: 200px;
    height: 200px;
}

/* Footer Styles */

footer {
    background-color: #152c53;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    color: white;
    width: 50%;
    text-align: left;
}

footer a {
    color: white;
}

.footerContent {
    display: flex;
    flex-direction: column;
}

.footerLinks {
    display: flex;
    width: 100%;
}

.footerUl {
    display: flex;
    flex-direction: column;
}

.socialLinks,
.contactLinks {
    display: flex;
}

.socialLinks {
    gap: 15px;
}

.contactLinks {
    gap: 30px;
}


