.App {
  text-align: center;
}

/* General Styles */
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1920px;
}

html {
    font-size: 125%;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Footer Styles */

footer {
    background-color: #152c53;
    padding: 30px;
}

footer p {
    color: white;
    width: 50%;
    text-align: left;
}

.footerContent {
    display: flex;
    flex-direction: column;
}

.footerLinks {
    display: flex;
    width: 100%;
}

.footerUl {
    display: flex;
    flex-direction: column;
}

.socialLinks,
.contactLinks {
    display: flex;
}

.socialLinks {
    gap: 15px;
}

.contactLinks {
    gap: 30px;
}


